events {
    worker_connections  1024;
}

http {
    upstream worker {
    {% for host in groups['workers'] %}
        server {{ host }};
    {% endfor %}
    }

    server {
        listen 80;

        location / {
            proxy_pass http://worker;
        }
    }
}

