events {
    worker_connections  1024;
}

http {
    upstream master {
    {% for host in groups['k8s_master'] %}
        server {{ host }};
    {% endfor %}
    }

    server {
        listen 6443;

        location / {
            proxy_pass http://master;
        }
    }
}

